*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arima", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  overflow: scroll;
}
body::-webkit-scrollbar{
  display: none;
}


.navbar{
  position: fixed;
  top:0px;
  z-index: 1000;
  display:flex;
  justify-content: space-between;
  padding:0px 50px;
  align-items: center;
  background-color: rgba(255, 255, 255,1);
  /* background-color: transparent; */
  height:80px;
  width:100%;
  color:rgb(0, 0, 0);
  border-bottom: 3px solid rgb(200 195 195);
}
.navbar .nav-icon{
  height:100%;
}
.nav-icon img{
  height:100%;
  width:auto;
}
.elements{
  display:flex;
  gap:30px
}
.avatar{
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin:0px;
}
.nav-list li{
  text-align: center;
  display: inline;
  width:fit-content;
  height:fit-content;
  margin-left:20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.nav-list li a{
  padding:0px 0px;
  color:rgb(58, 58,58);
  text-decoration: none;
}
.nav-list li :hover{
  border-bottom: 2px solid rgb(58,58,58);
}
.navbar .menu{
  display:none;
  cursor: pointer;
}
.profile-menu{
  position:absolute;
  top:90px;
  right:70px;
  background-color: white;
  padding:20px;
  display: none;
  gap:10px;
  flex-wrap: wrap;
  width:300px;
  border:3px solid rgb(200 195 195);
}
.profile-menu .profile-head{
  display: flex;
  gap:20px;
  justify-content: left;
  align-items: center;
}
.profile-menu h2{
  font-size: 1.5rem;
  color:black;
  margin:0;
}
.profile-menu .buttons{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap:10px;
  flex-wrap: wrap;
}
.profile-menu .buttons a, .profile-menu .buttons button{
  width:60px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 5px;
  background-color: rgb(58, 58, 58);
  margin: 10px 0;
  
}
.profile-menu .list{
  margin-top: 30px;
}
.profile-menu .list button{
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  color:rgb(66, 65, 65);
  border:none;
}
.show{
  display:flex !important;
}

@media(max-width:768px){
  .navbar{
    padding:0px 30px;
  }
  .profile-menu{
    right:50px;
  }
  .nav-list{
    background-color:rgba(255, 255, 255,1) ;
    display: none;
    right:0px;
    flex-direction: column;
    align-items: center;
    gap:30px;
    justify-content: center;
    position:absolute;
    width:300px;
    height:300px;
    top:60px;
    color:white;
    /* background-color: rgb(46, 5, 86); */
    border-bottom-left-radius: 5px;
  }
  
  .navbar .menu{
    display: block !important;
  }
}

.main-body{
  z-index: -1;
  overflow: hidden;
  background-image: url('./compnents/1338701.png');
  background-position: center;
  background-size: cover;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
}
.home{
  overflow: hidden;
  flex-direction: column;
  align-items: left;
  gap:0px;
  padding:10%;
  color:white;
}
.home h1{
  font-size: 5rem;
}
.home h1:hover{
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.home p{
  font-size: 1.2rem;
  color:rgba(255,255,255,0.7)
}
@media(max-width:768px){
  .home{
    align-items: center !important;
  }
  .home h1{
    text-align: center;
    line-height: 4rem;
    font-size: 3.5rem !important;
  }
  .home p{
    text-align: center;
  }
}
@media(max-width:500px){
  .home h1{
    font-size: 2.5rem !important;
  }
  .home p{
    text-align: center;
  }
}

.login{
  justify-content: center;
  align-items: center;
}
.login .form{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  color:white;
  width:350px;
  height:450px;
  border:1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding:20px;
  gap:10px;
}
.form form{
  padding:20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
}
.form form .error{
  color:red;
  font-size: 0.9rem;
}
.login .form input{
  color:rgb(255, 253, 253) !important;
  font-size: 1.2rem;
  width:300px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding:2px;
  padding-left:5px;
}
input:focus{
  outline:none;
}
.login .form a{
  color:rgb(146, 189, 232);
}

.sign-up .form{
  height:500px;
  gap:10px;
}
.sign-up .form form{
  gap:10px;
}

/* user Dashboard */

.user-dashboard{
  margin:5%;
  margin-top:100px;
  display:flex;
}
.user-dashboard .cards{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
}
.user-dashboard .cards .card{
  box-sizing: border-box;
  position:relative;
  color:rgb(58, 58, 58);
  background-color: #f7f7f7;
  box-shadow: 5px 5px  rgba(58,58,58,0.2);
  border:1px solid white;
  width:300px;
  height:300px;
  display: flex;
  padding:20px;
  padding-top:80px;
  justify-content: center;
  align-items: start;
}
.user-dashboard .cards .card span{
  font-size: 1.3rem;
  background-color: rgb(58, 58, 58);
  color:white;
  border-radius: 50%;
  padding:10px;
  position: absolute;
  top:10px;
  left:10px;
}
.card .submit-button{
  display:none;
  width:250px;
  padding:10px 0px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(52, 249, 21);
  color: white;
  font-weight: 700;
}
.user-dashboard .cards .card .edit-inputs{
  display:none;
}
.user-dashboard .cards .card .visible p{
  font-size: 1.2rem;
}

.user-dashboard .cards .card-opened{
  position: fixed;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  width:60%;
  height:auto;
  justify-content: center;
  align-items: center;
  gap:30px;
  z-index: 1;
  border:2px solid rgb(200 195 195);
  box-shadow: none;
}
@media (max-width:640px){
  .user-dashboard .cards .card-opened{
    width:90%;
  }

}
.user-dashboard .cards .card-opened input{
  display:block;
  background-color: transparent;
  color:rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(58, 58, 58);
  padding:5px 10px;
  font-size: 1rem;
}
.user-dashboard .cards .card-opened .submit-button{
  display:block;
  /* width:100%; */
}
.width-70{
  width:90%;
}
.user-dashboard .cards .card-opened .edit-inputs{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap:40px;
}
.user-dashboard .cards .card-opened .visible{
  display: none;
}
.cross{
  position: absolute;
  top:0px;
  right:10px;
  background-color: transparent;
  border: none;
  color:white;
}
.Alert{
  position:fixed;
  z-index: 10;
  bottom:50px;
  left:50%;
  transform: translate(-50%,-50%);
}
.data{
  min-height: 50vh;
}

.data-table{
  margin-top:100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  /* justify-content: center; */
}
.data-table table{
  width:95%;
}
table th{
  width:200px;
  text-align: center;
}
table th, td{
  border: 1px solid black;
}
.loading img{
  background-blend-mode:c;
}

